

// Fuente Principal
$fuente_principal : 'Plus Jakarta Sans', sans-serif; 

// Colores Primarios
$red : hsl(1, 90%, 64%);
$blue : hsl(219, 85%, 26%);

// Neutros 
$white : hsl(0, 0%, 100%); 
$black : hsl(0, 0%, 0%); 
$blue-grayish-very-light : hsl(210, 60%, 98%);
$blue-1-grayish-light : hsl(211, 68%, 94%);
$blue-2-grayish-light : hsl(205, 33%, 90%);
$blue-grayish : hsl(219, 14%, 63%);
$blue-grayish-dark : hsl(219, 12%, 42%);
$blue-very-dark : hsl(224, 21%, 14%);

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Separacion
$separacion: 5rem;

// Weight

$medium : 500;
$extrabold: 700;
